body {
    background-color: rgb(32, 32, 32);
}

.container {
    background-color: white;
    border: white solid 1px;
    border-radius: 10px;
    margin-top: 20px;
}

.form-group {
    padding: 10px;
    transition: 1s;
}