div{
	border: solid 2px red;
	border-left: 5px solid blue;
	border-right: 5px solid black;
	border-top: 4px solid green;
	border-bottom: 4px solid yellow;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 10px;
	margin: 20px;
	padding: 10px;
	width: 50%;
}
div{
	margin: 5px 30px 2px 20px;
	margin: 0 auto;
}