.contenido{
    width: 360px;
    margin: 0 auto;
    border:2px solid gray;
}
.completado{
    text-decoration: line-through;
    color: rgba(180, 16, 16, 0.404);
}
.contenido{
    margin: 6% auto;
    -moz-box-shadow:    3px 3px 5px 6px rgba(248, 206, 20, 0.753);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(246, 127, 127, 0.753);
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
h1{
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}
li:nth-child(even) {
  background-color: #f7f7f7;
}
input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: none;
}
 * {
  box-sizing: border-box;
}
input:focus {
  background-color: #fff;
  outline: none;
  border: 3px solid #2980b9;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(270deg, #f3b306, #f32106, #06e3f3, #0650f3, #f306f0, #f3062a);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    -o-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
span{
    cursor: pointer;
}
.fa-arrows-v {
    float: right;
}
span {
    background-color: #e74c3c;
    color: white;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span {
    width: 40px;
    opacity: 1;
}